* {
    margin: 0;
    padding: 0;
    font-family:'poppins', sans-serif;
    box-sizing: border-box;
}

 /* Night mode style*/
.container.night-mode {
    background: linear-gradient(0.2deg, rgb(38, 169, 213) 4.8%, rgb(3, 17, 60) 85.5%);
    color: #ccc; 
}

.container.night-mode .input-header h2, 
.container.night-mode .output-header h2, 
.container.night-mode .progression-header h2 {
    color: #fff;  
}
.container.night-mode .input-row,
.container.night-mode #task-input-box {
    background: #243B55; 
    color: #ccc;
}

.container.night-mode #add-goal-button {
    background: #1A2F4F; 
    color: #eee; 
}

.check-list.night-mode, .quote-container.night-mode, .output-list.night-mode {
    background: #444;
    color: #ccc;
}
.container.night-mode .navbar {
    background: linear-gradient(112.1deg, rgba(32, 38, 57, 0.349) 11.4%, rgba(63, 76, 119, 0.313) 70.2%);
}

.container.night-mode .nav-left h1, 
.container.night-mode .nav-right span {
    color: #ccc; 
}

.container.night-mode .navbar h2 {
    color: #fff;
}

/*Light mode*/
.container{
    width: 100%;
    min-height: 200vh;
    background: linear-gradient(181.2deg, rgb(181, 239, 249) 10.5%, rgb(254, 254, 254) 86.8%);
    padding: 0px;
}

.navbar {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3); 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}


.nav-left h1 {
    margin: 0;
    font-family: 'Bebas Neue', sans-serif;
    color: #333;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-left: auto; 
}

.button-container {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    
}

.nav-right button {
    border: none;
    background: none;
    cursor: pointer;
    padding: 1px;
}

.nav-right img {
    width: 50px;
    transition: transform 0.2s;
}

.nav-right span {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #333;
    text-align: center;
}

.nav-right button:active img {
    transform: scale(0.9); 
}

.list-wrap {
    display: flex;
    justify-content: center; /* This will space out the child elements across the main axis */
    flex-wrap: wrap; /* Allows items to wrap onto the next line if not enough space */
    gap: 130px;
}

.left-section{
    width: 45%;
    max-width: 560px;
}
.check-list, .quote-container{ 
    max-width: 560px;
    background: #fff;
    margin: 50px 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}
.input-header{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
    padding-left: 10px;
    
}
.input-header h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-style: normal;   
    color: black;
  
    
}




::selection {
    color: #fff;
    background: #000;
}
    
.quote-container{
    float: none; /* Remove float */
    clear: both; /* Clear any floats */
    margin-top: 20px; 
    background: #fff;
    backdrop-filter: blur(6.5px);
    -webkit-backdrop-filter: blur(6.5px);
    border-radius: 10px;
    color: #000; 
}

.copyBox {
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    gap: 10px; 
}

#copyBtn{
    position: absolute; 
    top: 0; /* Align the button to the top */
    right: 0; 
    padding: 10px 20px; 
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(11.5px);
    -webkit-backdrop-filter: blur(11.5px);
    border-radius: 0px 10px 0px 10px;
    border: 1px solid rgba(98, 200, 218, 0.288);
    outline: none;
    cursor: pointer;
    color: #000; 
}
.quote-container{
    font-size: 2rem; 
    margin: 0; 
}

.quote {
    margin: 20px 0;
    font-family: "Imbue", serif;
    font-size: 2.5rem; 
    font-style: normal;
    word-spacing: 2px;
    height: auto; 
    display: block; 
    text-align: center; 
}

.author {
    text-align: center; 
    font-family: "Imbue", serif;
    margin: 10px 0; 
}


#copyBtn:hover {
    color: #7ebfdd;
    background-color: #fff;
}

/* Styles for the quote container */
.quote-container {
    position: relative;
    text-align: center;
}

/* Styles for the quote icon */
.quote-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-image: url('/images/icons8-quote-left-100.png');
    background-size: contain;
    background-repeat: no-repeat;
    vertical-align: middle; 
    margin-right: 300px;
}

/* Styles for the end quote icon */
.end-quote-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-image: url('/images/icons8-quote-left-100.png'); 
    background-size: contain;
    background-repeat: no-repeat;
    transform: scaleX(-1); /* Flip the image horizontally */
    vertical-align: middle; 
    margin-left: 300px; 
}

/* Styles for the quote text */
.quote {
    display: inline-block;
    vertical-align: middle; 
}

/* Styles for the author */
.author {
    display: block; 
    margin-top: 10px;
}



/*88888888888888888888888888888888888888888888*/

#title-icon{
    width: 70px; 
    height: 70px;  
}
#progress-icon {
    width: 60px; 
    height: 60px; 
}


.input-row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #cad8de;
    border-radius: 30px;
    margin-bottom: 25px;
    padding-left: 10px;

}
#task-input-box{
    flex: 1;
    font-size: 15px;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

#add-goal-button {
    padding: 15px 60px;
    background: #7ebfdd;
    color: #fff;
    border: none;
    outline: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 30px;
}

/*style for labels on the radio buttons*/
.radio-inputs label {
    color: #000;
    font-size: 15px;
    padding: 10px;
    text-align: left;
    cursor: pointer;
}

/*output container*/

.output-list {
    width: 45%;
    height:auto;
    max-height: 1500px;
    max-width: 560px;
    background: #fff;
    margin-top: 50px;
    margin-bottom: auto;
    padding: 50px 50px 70px;
    border-radius: 10px;
}

.output-header {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 10px;

}

.output-header h2{
    font-family: "Bebas Neue", sans-serif;
    font-size: 30px;
    color: black;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

/*styling for output tasks*/
#list-container li {
    list-style: none;
    font-size: 20px;
    padding: 15px 8px 12px 70px;
    user-select: none;
    cursor: pointer;
    position: relative;
    
}

/*style for unchecked task*/
#list-container li::before{
    content: '';
    position: absolute;
    height: 38px;
    width: 50px;
    border-radius: 10%;
    background-image: url(/images/icons8-checkmark-100.png);
    background-size: cover;
    background-position: center;
    top: 10px;
    left: 2px;
}

#list-container li.checked {
    color: #555;
    text-decoration: line-through;
}

#list-container li.checked::before {
    background-image: url(/images/icons8-done-100.png);  
}


/*style for Progress bar*/

.progression-header {
    display: flex;
    align-items: center; 
    gap: 10px; 
    font-family: "Bebas Neue", sans-serif;
    font-size: 40px;
    font-style: normal;   
    color: black;
    margin-bottom: 20px;
    padding-left: 10px;
}

.progress-container{
    bottom: 30px;
}
.progress {
    background-color: #cccecf;
    border-radius: 20px;
    height: 30px;
    width: auto;
}
.progress-done {
    display: flex;
    align-items: center;
    justify-content:center;
    background-image: repeating-linear-gradient(to left,#0546e0,#1172f9,#4892f9);
    box-shadow: 0 5px 5px -6px #0546e0, 0 3px 7px #1172f9;
    border-radius: 20px;
    color: #fff;
    height: 100%;
    width: 0;
    transition: 1s ease 0.3s; 
}

ul li span {
    position: absolute;
    right: 0;
    top: 5px;
    height: 40px;
    width: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
}
ul li span:hover{
    background: #edeef0;
}